# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# Terraform plan files
*.tfplan
tfplan
